
// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700&display=swap');


$light-blue: #448bdd;
$myblue: #0a63c2;
$dark-blue: rgb(1, 68, 139);

$light: #f8f8f8;

//update bulma global variables
$family-sans-serif: "Nunito", sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
  background: linear-gradient(to right top, $light-blue, $myblue);
}

html, body {
  height: 100%;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
