<div class="centered-content">
  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <h1 class="title has-text-info">Lists</h1>

      <div class="list-menu">
        <a href="#" class="list-menu-item is-active">
          <p>Create something GOOD!</p>
        </a>
        <a href="#" class="list-menu-item">
          <p>Create something GREATE!</p>
        </a>
        <a href="#" class="list-menu-item">
          <p>Create something AWESOME!</p>
        </a>
      </div>

      <button class="button is-info has-text-white">+ New List</button>
    </div>
    <!-- Task List board -->
    <div class="task-list-container has-background-light">

      <h1 class="title has-text-info">Tasks</h1>
      <!-- Tasks Elements -->
      <div class="tasks">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ratione?</p>
      </div>
      <div class="tasks">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, facilis vel?</p>
      </div>
      <div class="tasks complete">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, consequatur.</p>
      </div>
      <div class="tasks complete">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing. Eaque blanditiis earum neque?</p>
      </div>
      <div class="tasks">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.  blanditiis earum neque similique eius?</p>
      </div>
      <div class="tasks">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque blanditiis earum neque similique eius?</p>
      </div>
      <div class="tasks complete">
        <p>Lorem ipsum dolor sit, amet consectetur elit.  blanditiis earum similique eius?</p>
      </div>
      <div class="tasks">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. earum neque similique eius?</p>
      </div>


    </div>
  </div>

</div>
